@page "/MenuRegistro"

<h1>Registros</h1>

<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Usuarios</h5>
        <p class="card-text">Aquí podras guardar un nuevo usuario.</p>
        <a href="RUsuarios" class="btn btn-primary">Registrar Usuarios</a>
    </div>
</div>


@code {

}
