@page "/MenuConsultas"

<h1>Consultas</h1>

<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Usuarios</h5>
        <p class="card-text">Aquí podras consultar usuarios.</p>
        <a href="CUsuarios" class="btn btn-primary">Consultar Usuarios</a>
    </div>
</div>


@code {

}
